.cart-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: calc(100vh - 100px);
}
.cart-title {
    position: relative;
    padding: 30px;
    background-color: black;
    font-size: 28px;
    color: white;
    max-width: 100%;
    z-index: 1;
}
.cart-list{
    list-style: none;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.cart-list-items{
    display: flex;
    align-items: center;
}
.cart-items-thumbnail{
    max-height: 100px;
    max-width: 100px;
}
.cart-item-product-headline {
    margin: 0;
}

.empty-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
}
.cart-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}