.cart-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}
.cart-title {
    padding: 50px;
    background-color: black;
    font-size: 28px;
    color: white;
    max-width: 100%;
}
.cart-list{
    list-style: none;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.cart-list-items{
    display: flex;
    align-items: center;
}
.cart-items-thumbnail{
    max-height: 100px;
    max-width: 100px;
}
.cart-item-product-headline {
    margin: 0;
}