
.footer{
    background: black;
    color: white;
    font-weight: normal;
}
.footer > ul {
    list-style: none;
}
@media (min-width: 500px) {
    .footer{
        background: black;
        color: white;
        display: flex;
        justify-content: flex-start;
        gap: 2em;
        font-weight: normal;
    }
    .footer > ul {
        list-style: none;
    }
  }