.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: calc(100px,);   
    border: black solid 2px;
}
form {
    display: grid;
    justify-content: center;
    grid-column-gap: 1em;
    margin-top: 50px;    
}

.field {
    grid-column: span 2;
    display: grid;
    grid: inherit;
    grid-template-columns: 6em 1fr;
    grid-template-columns: subgrid;
    grid-gap: inherit;
}