:root {
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms; 
}

* {
  box-sizing: border-box;
}
body {
  font-family: 'Lexend', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  margin: 0;
  padding: 0;
}
 #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} 
.content{
    flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  margin-top: 16px;
}
